<%- include('partials/header'); -%>
<div class="wrapper">


    <div class="default-container">
        <div class="main-weather-container">
            <h1 class="city-name">
                <%= nameCity %>
            </h1>
            <div class="temp-container">
                <h2 class="main-temp">
                    <%= mainTemp %>°C
                </h2>
                <div class="main-img-container">
                    <img src="http://openweathermap.org/img/wn/<%= mainImg %>@2x.png">
                </div>
            </div>
            <div class="main-description">
                <%= mainDescription %>
            </div>
        </div>
    </div>


    <div class="default-container">
        <div class="daily-weather-wrap">
            <% for(let i=0; i<7;i++ ){ %>
            <div class="daily-weather-container">
                <h1 class="daily-date">

                </h1>
                <div class="daily-img-container">
                    <img src="http://openweathermap.org/img/wn/<%= dailyWeather[i].weather[0].icon %>@2x.png" class="daily-weather-img">
                </div>
                <h2 class="daily-temp">
                    <%= dailyWeather[i].temp.day %>°C
                </h2>
                <div class="daily-description">
                    <%= dailyWeather[i].weather[0].description %>
                </div>
            </div>
            <% }; %>
        </div>
        
    </div>
    
</div>
<%- include('partials/footer'); -%>