<%- include('partials/header'); -%>
<div class="wrapper">


    <div class="default-container">
        <div class="main-weather-container">
            <h1 class="city-name">
                <%= nameCity %>
            </h1>
            <div class="temp-container">
                <h2 class="main-temp">
                    <%= helper.roundStr(mainTemp) %>°
                </h2>
                <div class="main-img-container">
                    <img src="http://openweathermap.org/img/wn/<%= mainImg %>@2x.png">
                </div>
            </div>
            <div class="main-description">
                <%= mainDescription %>
            </div>
        </div>
    </div>


    <div class="default-container">
        <div class="daily-weather-padding">
            <div class="daily-weather-wrap">
                <% for(let i=0; i<7;i++ ){ %>
                <div class="daily-weather-container">
                    <h1 class="daily-date">
                        <%= helper.dateGetter(dailyWeather[i].dt) %>
                    </h1>
                    
                    <div class="daily-temp-container">
                        <h2 class="daily-temp">
                            <%= helper.roundStr(dailyWeather[i].temp.day) %>°
                        </h2>
                        <div class="daily-img-container">
                            <img src="http://openweathermap.org/img/wn/<%= dailyWeather[i].weather[0].icon %>@2x.png" class="daily-weather-img">
                        </div>
                    </div>
                    
                    <div class="daily-description">
                        <%= dailyWeather[i].weather[0].description %>
                    </div>
                </div>
                <% }; %>
            </div>
        </div>
        
    </div>
    <div class="default-container">
        <div class="hourly-wrapper">
            <h2 class="hourly-title">Hourly Forecast</h2>
            <hr class="line-break">
        
            <% for(let i=0; i<hourlyWeather.length;i++ ){ %>
            <div class="hourly-container">
                <div class="hourly-time">
                    <%= helper.hourGetter(hourlyWeather[i].dt) %>
                </div>
                <div class="hourly-forecast-container">
                    <h2 class="hourly-temp">
                        <%= helper.roundStr(hourlyWeather[i].temp) %>°
                    </h2>
                    <div class="daily-img-container">
                        <img src="http://openweathermap.org/img/wn/<%= hourlyWeather[i].weather[0].icon %>@2x.png" class="daily-weather-img">
                    </div>
                    <div class="hourly-description">
                        <%= hourlyWeather[i].weather[0].description %>
                    </div>
                </div>
                <div class="hourly-content-container">
                    <span class="material-icons">filter_drama</span>
                    <div class="hourly-cloud"> <%= hourlyWeather[i].clouds %>% </div>
                </div>
                <div class="hourly-content-container hourly-wind">
                    <span class="material-icons">air</span>
                    <div class=""> <%= hourlyWeather[i].wind_speed %> m/s</div>
                </div>
            </div>
            <hr class="line-break">
            <% }; %>
        </div>
    </div>
    
</div>
<%- include('partials/footer'); -%>